<a href="{{ path('frontend.wishlist.add.modal', {'productId':productId}) }}"
   name="wishlistModalButton"
   class="btn btn-light wishlistModalButton"
   title="{{ "Add to wishlist "|trans }}">
    {{ "Add to wishlist "|trans }}
</a>