{% sw_extends '@Storefront/base/header/actions/service-menu-widget.html.twig' %}

{% block base_header_actions_service_menu_list %}
    {{ parent() }}

    <div>
        <a href="/wishlist">Wishlist</a>
    </div>
{% endblock %}
